{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card p-4">
      <h4 class="mb-3">Edit Profile</h4>
      <form method="post">
        <div class="row">
          <div class="col-md-6 mb-3"><label class="form-label">Full Name</label><input class="form-control" name="full_name" value="{{ me['full_name'] }}" required></div>
          <div class="col-md-3 mb-3"><label class="form-label">Sex</label><select class="form-select" name="sex"><option {% if me['sex']=='Male' %}selected{% endif %}>Male</option><option {% if me['sex']=='Female' %}selected{% endif %}>Female</option></select></div>
          <div class="col-md-3 mb-3"><label class="form-label">Date of Birth</label><input class="form-control" name="dob" type="date" value="{{ me['dob'] }}"></div>
          <div class="col-md-3 mb-3"><label class="form-label">Blood Group</label><input class="form-control" name="blood_group" value="{{ me['blood_group'] }}"></div>
          <div class="col-md-3 mb-3"><label class="form-label">Course</label><input class="form-control" name="course" value="{{ me['course'] }}"></div>
          <div class="col-md-3 mb-3"><label class="form-label">Reg No.</label><input class="form-control" name="reg_no" value="{{ me['reg_no'] }}" required></div>
          <div class="col-md-3 mb-3"><label class="form-label">Level</label><input class="form-control" name="level" value="{{ me['level'] }}"></div>
        </div>
        <button class="btn btn-primary" type="submit">Save Changes</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
